 <style>
  .approve{
    color: #25d54f;
    font-weight: 900;
    font-size: 13px;
  }

  .reject{
    color: #fbcf33;
    font-weight: 900;
    font-size: 13px;
  }

  .delete {
    color: #ea0606;
    font-weight: 900;
    font-size: 13px;
  }
 </style>
 <div class="container-fluid py-4">
   
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Comments</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Comment</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                   {{#each allComment}}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                       
                          <div class="d-flex flex-column justify-content-center">
                           
                           <div class="d-flex flex-column justify-content-center">
                             <h6 class="mb-0 text-sm">{{user_name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{user_email}}</p>
                          </div>
                           
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{title}}</h6>                      
                      </td>
                      <td class="align-middle text-center text-sm">
                         <p class="text-xs font-weight-bold mb-0">{{comment}}</p>
                      </td>
                     <td class="align-middle text-center text-sm">
                      {{#isEqual status 0}}
                        <span class="badge badge-sm bg-gradient-warning">Reject</span>
                      {{else}}
                        {{#isEqual status 1}}
                          <span class="badge badge-sm bg-gradient-success">Approve</span>
                        
                         
                        {{/isEqual}}
                      {{/isEqual}}
                    </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{created_at}}</span>
                      </td>
                      <td class="align-middle">
                        
                        <a href="/comment/approve/{{id}}" class="approve" >
                          APPROVE
                        </a> | 
                         <a href="/comment/reject/{{id}}" class="reject" >
                          REJECT
                        </a> | 
                         <a href="/comment/delete/{{id}}" class="delete" >
                          DELETE
                        </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>